<div id="createform">
<form action="/drones/create" method="POST">

    <label for="name">Drone:</label>
    <input id="name" name="name" type="text"></input>

    <label for="propellers">Propellers:</label>
    <input id="propellers" name="propellers" type="text"></input>

    <label for="maxSpeed">Max Speed:</label>
    <input id="maxSpeed" name="maxSpeed" type="text"></input>
    
    <button type="submit">Crear Dron</button>
</form>
</div>